@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font */
body {
  --font-size-12: 1.2rem;
  --font-size-14: 1.4rem;
  --font-size-15: 1.5rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-20: 2rem;
  --font-size-22: 2.2rem;
  --font-size-24: 2.4rem;
  --font-size-30: 3rem;
  --font-size-34: 3.4rem;
  --font-size-40: 4rem;
  --font-size-48: 4.8rem;
  --font-size-54: 5.4rem;
}
@media screen and (max-width: 767px) {
  body {
    --font-size-18: 1.6rem;
    --font-size-15: 1.4rem;
  }
}

/* layout */
body {
  --header-height: 9.6rem;
  --sub-nav-width: min(26.042vw, 50rem);
  --inner-padding: 10rem;
  --detail-inner-padding: 12.5vw;
  --main-inner-top-padding: 15rem;
  --main-inner-bottom-padding: var(--main-inner-top-padding);
  --floating-position-right: 5rem;
  --floating-position-bottom: 6rem;
  --main-circle-size: 24rem;
  --tablet-main-circle-size: 41.667vw;
}
@media screen and (max-width: 1200px) {
  body {
    --inner-padding: 5rem;
    --detail-inner-padding: var(--inner-padding);
    --main-inner-top-padding: 10rem;
    --floating-position-right: 3rem;
    --floating-position-bottom: 5rem;
  }
}
@media screen and (max-width: 767px) {
  body {
    --header-height: 6rem;
    --inner-padding: 2.3rem;
    --floating-position-right: var(--inner-padding);
    --floating-position-bottom: 3rem;
  }
}

* {
  font-family: "Poppins", "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  color: #363636;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 1.4rem;
  }
}

::-moz-selection {
  background-color: #f63543;
  color: #fff;
  -moz-transition: 0.1s ease;
  transition: 0.1s ease;
}

::selection {
  background-color: #f63543;
  color: #fff;
  transition: 0.1s ease;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
*::-webkit-scrollbar-thumb {
  width: 4px;
  height: 30%;
  border-radius: 10px;
  background: #f4f4f4 !important;
  border: 4px solid #ccc;
}
*::-webkit-scrollbar-thumb:hover {
  background: #f4f4f4 !important;
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

body * {
  cursor: none;
}
@media (pointer: coarse) {
  body {
    /* custom css for "touch targets" */
  }
  body .custom-cursor {
    display: none;
  }
  body * {
    cursor: auto;
  }
}

#skipNav {
  position: absolute;
  width: 100%;
}
#skipNav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  background: #000;
  color: #fff;
  transform: translateY(-100%);
}
#skipNav a:focus, #skipNav a:active {
  transform: translateY(0);
}

#wrap {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media screen and (max-width: 1024px) {
  #wrap {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
  }
  #wrap::-webkit-scrollbar {
    display: noen;
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

.btn {
  display: inline-block;
  vertical-align: top;
  border-width: 1px;
  border-style: solid;
  font-weight: 500;
}
.btn-ico {
  display: inline-block;
  vertical-align: top;
  border-color: transparent;
}
.btn-round {
  border-radius: 30px;
}
.btn-black {
  border-color: #363636;
  color: #363636;
}

.routing-fade-enter-active {
  transition: opacity 1s ease-in-out;
}
.routing-fade-leave-active {
  transition: opacity 2s ease-in-out;
}
.routing-fade-appear-active {
  transition: opacity 1s ease-in-out;
}
.routing-fade-enter, .routing-fade-leave-to, .routing-fade-appear {
  opacity: 0;
}

header {
  padding-left: var(--inner-padding);
  padding-right: var(--inner-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  position: fixed;
  z-index: 10;
  background-color: transparent;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: transform;
}
@media screen and (max-width: 1024px) {
  header.dark {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
}
header.dark .logo {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='32' fill='none'%3E%3Cpath fill='%23ffffff' d='M15.404 19.094c0 1.704-.322 3.308-.966 4.812a12.482 12.482 0 0 1-2.643 3.91 12.339 12.339 0 0 1-3.91 2.622c-1.49.644-3.087.966-4.791.966-1.031 0-2.063-.129-3.094-.386V24.4c.458.273.952.48 1.482.623.53.144 1.067.215 1.612.215.845 0 1.64-.157 2.385-.472a6.324 6.324 0 0 0 1.976-1.332 6.093 6.093 0 0 0 1.31-1.956 5.83 5.83 0 0 0 .495-2.384V.596h6.144v18.498ZM20.57 28.404a3 3 0 1 1 6 0 3 3 0 0 1-6 0Z'/%3E%3C/svg%3E");
}
header.dark .btn-menu {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='32' fill='none'%3E%3Cpath fill='%23ffffff' d='M0 7.5h34v3H0zM14 21.5h20v3H14z'/%3E%3C/svg%3E");
}
header.scr-down {
  transform: translateY(calc(var(--header-height) * -1));
}
header.scr-up {
  transform: translateY(0rem);
}
@media screen and (max-width: 1024px) {
  header.scr-up.dark {
    background-color: #000;
  }
}

.logo {
  width: min(5vw, 2.7rem);
  height: min(5.926vw, 3.2rem);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='32' fill='none'%3E%3Cpath fill='%23000000' d='M15.404 19.094c0 1.704-.322 3.308-.966 4.812a12.482 12.482 0 0 1-2.643 3.91 12.339 12.339 0 0 1-3.91 2.622c-1.49.644-3.087.966-4.791.966-1.031 0-2.063-.129-3.094-.386V24.4c.458.273.952.48 1.482.623.53.144 1.067.215 1.612.215.845 0 1.64-.157 2.385-.472a6.324 6.324 0 0 0 1.976-1.332 6.093 6.093 0 0 0 1.31-1.956 5.83 5.83 0 0 0 .495-2.384V.596h6.144v18.498ZM20.57 28.404a3 3 0 1 1 6 0 3 3 0 0 1-6 0Z'/%3E%3C/svg%3E");
}

.btn-menu {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='32' fill='none'%3E%3Cpath fill='%23000000' d='M0 7.5h34v3H0zM14 21.5h20v3H14z'/%3E%3C/svg%3E");
}
.btn-menu::before {
  display: inline-block;
  vertical-align: top;
  content: "";
  width: 3.4rem;
  height: 3.2rem;
}
@media screen and (max-width: 1024px) {
  .btn-menu::before {
    width: min(5.556vw, 3.4rem);
    height: min(6.278vw, 3.2rem);
  }
}

footer {
  padding-left: var(--inner-padding);
  padding-right: var(--inner-padding);
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #161616;
  color: #fff;
  text-align: right;
}
@media screen and (max-width: 1024px) {
  footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
footer p {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: clamp(24px, 4.694vw, 4.8rem);
  font-weight: 600;
  line-height: 1.3;
}
footer p.copyright {
  margin-top: 1.8rem;
  font-size: clamp(11px, 1.695vw, 1.8rem);
  font-weight: 400;
  color: #888;
}

/* ----------------------- COMMON */
.btn-top {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-image: url("../../images/icon_gotop.svg");
  background-color: #fff;
}

.btn-redline {
  background-color: #fff;
  border: 2px solid #f63543;
  font-weight: 500;
  color: #f63543;
}

.btn-black {
  background-color: #000;
  font-weight: 500;
  color: #fff;
}

.floating-btns {
  position: fixed;
  right: var(--floating-position-right);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
}
.floating-btns button {
  width: min(12.8vw, 6.6rem);
  height: min(12.8vw, 6.6rem);
  border-radius: 50%;
  display: block;
  line-height: 1.2;
}
@media screen and (max-width: 577px) {
  .floating-btns button {
    font-size: 1.3rem;
  }
}
.floating-btns button + button {
  margin-top: 1.5rem;
}
.floating-btns .btn-code {
  animation: bounce 2s infinite ease-in-out;
}
.floating-btns.is-show {
  opacity: 1;
  visibility: visible;
  bottom: calc(var(--floating-position-bottom) * -1);
  transition: opacity 0.4s linear, bottom 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.floating-btns.is-show.hide {
  bottom: calc((var(--floating-position-bottom) + 12.2rem + 1.5rem) * -1);
}
.floating-btns.scr-up {
  bottom: var(--floating-position-bottom);
}
.floating-btns.scr-down {
  bottom: calc((var(--floating-position-bottom) + 12.2rem + 1.5rem) * -1);
}

@keyframes bounce {
  40% {
    height: min(12.8vw, 6.6rem);
  }
  50% {
    transform: translate(0, 3rem);
    height: min(12.8vw - 4px, 6.6rem - 4px);
  }
  65% {
    height: min(12.8vw, 6.6rem);
  }
}
/* ----------------------- LOADING */
.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.loading-screen + #wrap {
  max-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
.loading-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  transform: scaleY(0);
}
.loading-text {
  position: absolute;
  z-index: 2;
  font-size: clamp(20px, 2.93vw, 4rem);
  color: #fff;
  font-weight: 500;
}

/* ----------------------- MAIN */
.main {
  overflow-x: hidden;
  white-space: pre-line;
}
.main.visible-intro {
  height: 100vh;
  overflow: hidden;
}
.main > section {
  padding: var(--main-inner-top-padding) 0;
}
@media screen and (max-width: 1024px) {
  .main > section {
    padding: 12vh 0;
  }
}
.main > section.works {
  padding: 0;
}

.heading-main {
  margin-bottom: clamp(40px, 8.571vw, 12rem);
  font-size: clamp(26px, 5.476vw, 5.6rem);
  font-weight: 600;
  text-align: center;
}

.animate-text {
  display: flex;
  white-space: nowrap;
}

.animate-textline {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

[class*=animate-bounce] {
  opacity: 0;
}

.text-split {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}
.text-split span {
  transform: translateY(100%);
  opacity: 0;
}

/* intro */
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: #000;
}
.intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
  z-index: 2;
  font-size: clamp(30px, 5.469vw, 8rem);
  color: #fff;
  line-height: 1;
  mix-blend-mode: difference;
}
.intro-text span {
  display: block;
  transform: translateY(100%);
  will-change: transform;
}
.intro-background {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #fff;
  transform: scaleX(0);
  will-change: transform;
}
.intro-background-left {
  left: 0;
  transform-origin: left center;
}
.intro-background-right {
  left: 50%;
  transform-origin: right center;
}
.intro-background-circle {
  width: var(--main-circle-size);
  height: var(--main-circle-size);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #000;
  transform-origin: center center;
  transform: translate(-50%, -50%) scale(100);
}
@media screen and (max-width: 1024px) {
  .intro-background-circle {
    width: min(var(--tablet-main-circle-size), var(--main-circle-size));
    height: min(var(--tablet-main-circle-size), var(--main-circle-size));
  }
}

.visual-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: block;
}
.visual-circle::before {
  width: 34rem;
  height: 34rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-image: url("../../images/img_circle_text_black.svg");
  content: "";
  display: block;
  animation: circle 20s linear infinite;
}
@media screen and (max-width: 1024px) {
  .visual-circle::before {
    width: min(55.556vw, 33rem);
    height: min(55.556vw, 33rem);
  }
}
.visual-circle em {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--main-circle-size);
  height: var(--main-circle-size);
  border-radius: 50%;
  display: block;
  background-color: #000;
}
@media screen and (max-width: 1024px) {
  .visual-circle em {
    width: min(var(--tablet-main-circle-size), var(--main-circle-size));
    height: min(var(--tablet-main-circle-size), var(--main-circle-size));
  }
}
.visible-intro .visual-circle em {
  background-color: transparent;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* visual */
.visual {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  pointer-events: none;
}
.visual-text-group {
  margin-left: 24rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .visual-text-group {
    margin-left: max(102px, 20vw);
  }
}
.visual .text-top {
  font-size: clamp(32px, 5.867vw, 6rem);
}
.visual .text-bottom {
  font-size: clamp(46px, 8.605vw, 9rem);
}
.visual .text-bottom .text-split > span:last-child {
  color: #f63543;
}
.visual p {
  margin: -3rem 0;
  font-weight: 500;
  line-height: 1.4;
  color: #000;
}
@media screen and (max-width: 767px) {
  .visual p {
    line-height: 1.6;
  }
}
.visual .copyright {
  position: absolute;
  left: 50%;
  bottom: 2.5rem;
  transform: translateX(-50%);
  font-size: clamp(11px, 1.695vw, 1.5rem);
  color: #999;
}

/* skills */
.skill-wrap {
  display: flex;
  width: min(90vw, 1514px);
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .skill-wrap {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
.skill-wrap .ico-uidev {
  display: inline-block;
  vertical-align: top;
  width: min(11.111vw, 5.4rem);
  height: min(11.936vw, 5.8rem);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-image: url("../../images/icon_uidev.svg");
}
.skill-wrap .ico-cowork {
  display: inline-block;
  vertical-align: top;
  width: min(11.111vw, 5.4rem);
  height: min(11.936vw, 5.8rem);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-image: url("../../images/icon_cowork.svg");
}
.skill-wrap .ico-markup {
  display: inline-block;
  vertical-align: top;
  width: min(11.111vw, 5.4rem);
  height: min(11.936vw, 5.8rem);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-image: url("../../images/icon_markup.svg");
}
.skill-wrap li {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem 2rem 6rem;
}
@media screen and (max-width: 1024px) {
  .skill-wrap li {
    padding: 3rem 2.5rem;
  }
}
.skill-wrap li .tit {
  margin: 4.4rem 0 3.8rem;
  font-size: clamp(23px, 3.911vw, 3rem);
  font-weight: 600;
  line-height: 3rem;
}
@media screen and (max-width: 1024px) {
  .skill-wrap li .tit {
    margin: 3.5rem 0 2.5rem;
  }
}
.skill-wrap li .para {
  font-size: clamp(14px, 3.889vw, var(--font-size-22));
  line-height: 2;
  letter-spacing: -0.04rem;
  color: #8f8f8f;
}
@media screen and (max-width: 1024px) {
  .skill-wrap li .para {
    white-space: wrap;
  }
}

/* works */
.works .box {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1025px) {
  .works .box {
    overflow: hidden;
    height: calc(var(--vh, 1vh) * 100);
    padding: 11rem 0;
  }
  .works .box:nth-of-type(even) .img {
    order: 2;
  }
}
@media screen and (max-width: 1024px) {
  .works .box {
    flex-direction: column;
  }
}
.works .img {
  overflow: hidden;
  aspect-ratio: 192/148;
}
@media only screen and (min-width: 1025px) {
  .works .img {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 1024px) {
  .works .img {
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .works .img img {
    max-width: none;
    height: 150%;
  }
}
.works .item {
  flex: 1;
  min-width: 50%;
}
.works .text {
  position: relative;
  z-index: 1;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: min(6.667vw, 20rem);
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
@media screen and (max-width: 1024px) {
  .works .text {
    width: 100%;
    padding: 12vw var(--inner-padding) 22vw;
  }
}
.works .text h3 {
  font-size: clamp(28px, 4.954vw, 5.4rem);
  font-weight: 800;
  line-height: 1.4814;
}
.works .text .s-tit {
  font-size: clamp(15px, 2.086vw, 2.2rem);
  color: #888;
  display: block;
  margin-bottom: 3.2rem;
}
@media screen and (max-width: 1024px) {
  .works .text .s-tit {
    margin-bottom: 4vw;
  }
}
.works .text .tags {
  margin: 4.4rem 0 6rem;
}
@media screen and (max-width: 1024px) {
  .works .text .tags {
    margin: 3vw 0 10vw;
  }
}
.works .text .tags .tag {
  font-size: clamp(13px, 1.825vw, 2rem);
  color: #888;
}
.works .text .tags .tag:not(:last-child) {
  margin-right: 15px;
}
.works .text .btn-view {
  border-radius: 50px;
  padding: 1.7rem 5rem;
  font-size: var(--font-size-18);
}

/* ----------------------- SUB */
.sub {
  display: flex;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: #000;
}
@media screen and (max-width: 1024px) {
  .sub {
    flex-direction: column;
  }
}
.sub::-moz-selection {
  background-color: transparent;
}
.sub::selection {
  background-color: transparent;
}
@media only screen and (min-width: 1025px) {
  .sub nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: sticky;
    top: 0;
    width: min(26.042vw, 50rem);
    height: calc(var(--vh, 1vh) * 100);
    padding-left: min(10.417vw, 20rem);
  }
}
@media screen and (max-width: 1024px) {
  .sub nav {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
    white-space: nowrap;
    overflow-x: auto;
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    padding: 0.8rem var(--inner-padding);
    background-color: #000;
    transform: translateY(var(--header-height));
    transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .sub nav::-webkit-scrollbar {
    display: noen;
  }
  header.scr-down + #container .sub nav {
    transform: translateY(0);
  }
  header.scr-up + #container .sub nav {
    transform: translateY(var(--header-height));
  }
}
.sub nav button {
  margin: 1.2rem 0;
  font-size: clamp(14px, 2.086vw, 2rem);
  color: #999;
}
@media screen and (max-width: 1024px) {
  .sub nav button + button {
    margin-left: 4rem;
  }
}
.sub nav button.active {
  position: relative;
  font-weight: 700;
  color: #fff;
}
.sub nav button.active::after {
  display: inline-block;
  vertical-align: top;
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  right: -8px;
  bottom: 6px;
  background-color: #f63543;
}

.list-wrap {
  flex: 1;
  padding: 20rem 10rem 0 8.333vw;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .list-wrap {
    padding: 12vw var(--inner-padding);
  }
}
.list-wrap .item {
  position: relative;
  margin: 4rem 0;
}
.list-wrap .item p {
  display: inline;
}
.list-wrap .item .en {
  font-size: 10.4rem;
  font-size: clamp(32px, 5.997vw, 10.4rem);
  color: #999;
  line-height: 1.1538;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .list-wrap .item .en {
    font-weight: 500;
  }
}
.list-wrap .item .kr {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.list-wrap .item .kr::after {
  content: ".";
}
.list-wrap .item:hover .en {
  color: #363636;
  text-decoration: line-through;
}
.list-wrap .item:hover .kr {
  opacity: 1;
  left: 4rem;
  font-size: clamp(12px, 2.347vw, 4rem);
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.5rem;
  transition: left 0.5s ease, opacity 0.2s linear;
  transition-delay: 0.2s;
}
.list-wrap .item:hover .kr::after {
  color: #f63543;
}

.list-motion-wrap .item {
  opacity: 0;
  transform: translateY(40px);
  transition: 0s;
}
.list-motion-wrap.is-visible .item {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.3s, opacity 0.3s;
}
.list-motion-wrap.is-visible .item:nth-child(2) {
  transition-delay: 0.2s;
}
.list-motion-wrap.is-visible .item:nth-child(3) {
  transition-delay: 0.4s;
}
.list-motion-wrap.is-visible .item:nth-child(4) {
  transition-delay: 0.6s;
}
.list-motion-wrap.is-visible .item:nth-child(5) {
  transition-delay: 0.8s;
}
.list-motion-wrap.is-visible .item:nth-child(6) {
  transition-delay: 1s;
}
.list-motion-wrap.is-visible .item:nth-child(7) {
  transition-delay: 1.2s;
}
.list-motion-wrap.is-visible .item:nth-child(8) {
  transition-delay: 1.4s;
}
.list-motion-wrap.is-visible .item:nth-child(9) {
  transition-delay: 1.6s;
}
.list-motion-wrap.is-visible .item:nth-child(10) {
  transition-delay: 1.8s;
}
.list-motion-wrap.is-visible .item:nth-child(11) {
  transition-delay: 2s;
}
.list-motion-wrap.is-visible .item:nth-child(12) {
  transition-delay: 2.2s;
}
.list-motion-wrap.is-visible .item:nth-child(13) {
  transition-delay: 2.4s;
}
.list-motion-wrap.is-visible .item:nth-child(14) {
  transition-delay: 2.6s;
}
.list-motion-wrap.is-visible .item:nth-child(15) {
  transition-delay: 2.8s;
}
.list-motion-wrap.is-visible .item:nth-child(16) {
  transition-delay: 3s;
}
.list-motion-wrap.is-visible .item:nth-child(17) {
  transition-delay: 3.2s;
}
.list-motion-wrap.is-visible .item:nth-child(18) {
  transition-delay: 3.4s;
}
.list-motion-wrap.is-visible .item:nth-child(19) {
  transition-delay: 3.6s;
}
.list-motion-wrap.is-visible .item:nth-child(20) {
  transition-delay: 3.8s;
}
.list-motion-wrap.is-visible .item:nth-child(21) {
  transition-delay: 4s;
}

/* ----------------------- DETAIL */
.detail {
  position: relative;
}
.detail .btn-close {
  width: 4.6rem;
  height: 4.6rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' fill='none'%3E%3Cpath fill='%23000000' d='m9.211 7.09 30.406 30.405-2.121 2.122L7.09 9.21 9.21 7.09Z'/%3E%3Cpath fill='%23000000' d='M38.91 8.504 8.504 38.91l-2.121-2.122L36.788 6.383l2.122 2.121Z'/%3E%3C/svg%3E");
  position: fixed;
  right: 5rem;
  top: 4rem;
  z-index: 10;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1024px) {
  .detail .btn-close {
    width: 3.5rem;
    height: 3.5rem;
    top: var(--inner-padding);
    right: var(--inner-padding);
  }
}
.detail.dark .txt {
  color: #fff;
}

.detail-intro {
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}
.detail-intro::before {
  height: calc(var(--vh, 1vh) * 100);
  content: "";
  display: block;
  background-image: url("../../images/img_detail_sample_intro_w.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .detail-intro::before {
    background-attachment: fixed;
    background-position: center bottom;
  }
}
@media screen and (max-width: 767px) {
  .detail-intro::before {
    background-image: url("../../images/img_detail_sample_intro_m.png");
    background-position: right bottom;
  }
}
.KBdatahub .detail-intro::before {
  background-image: url("../../images/img_KBdatahub_intro_w.png");
}
@media screen and (max-width: 767px) {
  .KBdatahub .detail-intro::before {
    background-image: url("../../images/img_KBdatahub_intro_m.png");
  }
}
.siwolmusic .detail-intro::before {
  background-image: url("../../images/img_siwolmusic_intro_w.png");
}
@media screen and (max-width: 767px) {
  .siwolmusic .detail-intro::before {
    background-image: url("../../images/img_siwolmusic_intro_m.png");
  }
}
.payapp .detail-intro::before {
  background-image: url("../../images/img_payapp_intro_w.png");
}
@media screen and (max-width: 767px) {
  .payapp .detail-intro::before {
    background-image: url("../../images/img_payapp_intro_m.png");
  }
}
.detail-intro .txt {
  position: absolute;
  left: min(10vw, var(--detail-inner-padding));
  top: 50%;
  transform: translateY(-58%);
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  color: #363636;
}
@media screen and (max-width: 767px) {
  .detail-intro .txt {
    transform: translateY(-100%);
  }
}
.detail-intro h1 {
  font-size: clamp(32px, 6.519vw, 7.6rem);
  font-weight: 700;
  line-height: 1.2;
  white-space: pre-line;
}
.detail-intro p {
  margin-top: 4rem;
  font-size: clamp(16px, 2.999vw, 3.4rem);
  font-weight: 700;
}

.detail-info {
  display: flex;
  align-items: flex-start;
  padding: 20rem var(--detail-inner-padding);
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .detail-info {
    flex-direction: column;
    padding-top: 13.038vw;
    padding-bottom: 13.038vw;
  }
}
.detail-info .btn-view {
  margin-top: 5rem;
  padding: 1.4rem 4.5rem;
  background-color: #fff;
  font-size: var(--font-size-15);
}
@media screen and (max-width: 1024px) {
  .detail-info .btn-view {
    margin: 13.038vw 0 -13.038vw;
  }
}
@media screen and (max-width: 577px) {
  .detail-info .btn-view {
    width: 100%;
    margin: 8vw 0;
  }
}

.detail-visual {
  padding-bottom: 3rem;
}
.detail-visual > * {
  padding-left: var(--inner-padding);
  padding-right: var(--inner-padding);
}
.detail-visual > div {
  padding: 0 0 13rem;
}
@media screen and (max-width: 1024px) {
  .detail-visual > div {
    padding: 0 0 6rem;
  }
}
.detail-visual .copyright {
  font-size: var(--font-size-12);
  font-weight: 300;
}

.info-tit {
  display: block;
  margin-bottom: min(6vw, 4rem);
  font-size: clamp(20px, 3.39vw, 4rem);
  font-weight: 700;
  line-height: 1.1875;
}
.info-txt {
  font-size: clamp(14px, 1.695vw, 2rem);
  line-height: 2;
}
.info-main {
  flex: 1;
}
.info-skill {
  min-width: 25%;
  padding-left: 8.3333%;
}
@media screen and (max-width: 1024px) {
  .info-skill {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding-left: 0;
  }
}
@media screen and (max-width: 577px) {
  .info-skill {
    flex-direction: column;
  }
}
.info-skill li {
  display: flex;
}
@media only screen and (min-width: 1025px) {
  .info-skill li {
    flex-direction: column;
  }
}
.info-skill li + li {
  margin-top: 5rem;
}
@media screen and (max-width: 1024px) {
  .info-skill li + li {
    margin-top: 0;
  }
}
.info-skill b {
  margin-right: 1.2rem;
  margin-bottom: 1.2rem;
  font-size: clamp(12px, 1.565vw, 2.4rem);
  font-weight: 600;
  white-space: nowrap;
}
@media screen and (max-width: 577px) {
  .info-skill b {
    width: 26%;
  }
}
.info-skill span {
  font-size: 1.434vw;
  font-size: clamp(12px, 1.434vw, 1.5rem);
  font-weight: 500;
  color: #666;
  white-space: pre-line;
}