@use '../base' as *;
@use '../components' as *;
@use '../helpers' as *;


.board-container {
  @include tabletMin {
    padding-left: calc(var(--admin-gnb-width) * 1px);
  }
}

.fixed-line {
  border-bottom: 1px solid rgba($black-004, 0.1) !important;
}
/* ----------------------------------------------------------------
    nav
---------------------------------------------------------------- */
aside {
  position: fixed;
  left: 0;
  z-index: 99;
  transition: 0.2s width;

  @include tabletMin {
    @include size (calc(var(--admin-gnb-width) * 1px), 100%);

    top: 0;
  }
  
  @include tablet {
    bottom: 0;
    width: 100%;
    transition: none;
  }

  &,
  .user-wrap,
  .service-wrap {
    background-color: var(--admin-gnb-bg-color);
  }
}

nav {
  @include scroll($scroll-color: var(--scrollbar-dark-color));
  color: $desktop-admin-gnb-text-color;

  @include tabletMin {
    @include flex;
    @include flex-dir(column);

    height: 100%;
    overflow-y: auto;
  }

  .user-wrap {
    @extend .hidden-md;
    @include fixed-top;

    padding-top: 16px;
  }
  .user-box {
    margin: 0 #{$admin-nav-side-space}px 16px;
    padding: 8px 0;

    .profile::before { // When user not upload image, setting default value
      content: attr(data-none-profile);
      font-size: 20px;
      font-weight: $font-semibold;
      line-height: calc(var(--profile-img-size) * 1px);
    }

    .name {
      font-size: 24px;
      font-weight: $font-bold;
      color: $white-001;
    }
  }
}

.profile-box {
  @include flex;
  @include flex-align(center);

  min-width: 0;

  .profile {
    @include size(calc(var(--profile-img-size) * 1px));
    @include circle;

    flex-shrink: 0;
    margin-right: 8px;
    background-color: #A0BBC7;
    color: $white-001;
    text-align: center;
    overflow: hidden;

    &.round {
      @include radius(8px);
    }

    .card-box & {
      margin-right: 12px;
    }

    &-img { // profile-img - user upload image
      width: 100%;
      object-fit: cover;
    }
  }

  .name {
    @include ellipsis;
    
    font-weight: $font-medium;
    
    #aside & {
      font-weight: $font-bold;
    }
  }

  .subinfo {
    @include ellipsis;
  }

  .info {
    @include flex;
    @include flex-dir(column);
    @include flex-align(stretch);

    min-width: 0;    
    text-align: left;
  }

  .card-box .cell:first-of-type & {
    @include tabletMin {
      padding-left: calc(#{$card-table-exception-side-space}px - #{$card-table-cell-side-space}px);
    }
  }

  .card-box & {
    font-size: #{$font-body-size}px;
    
    @include tablet {
      padding-right: 60px; // mobile right button width
    }
  }
}

.nav-menu {
  @include tabletMin {
    @include flexitem(1);

    padding: 0 #{$admin-nav-side-space}px;
  }

  ul { // .nav-menu ul
    @include tablet {
      @include flex;
      @include flex-align(center);
    }

    padding-bottom: 2px;

    + ul {
      padding-top: 2px;
      border-top: 1px solid $desktop-admin-gnb-division-color;
    }
  }

  li { // nav-menu li
    @include tabletMin {
      margin: 8px 0;
    }

    @include tablet {
      @include flexitem(1);
    }
  }

  .menu { // nav-menu .menu
    @include flex;
    @include flex-align(center);

    color: var(--admin-gnb-text-color);

    &.is-active {
      color: var(--admin-gnb-text-active-color);
    }

    @include tabletMin {
      @include radius(12px);

      gap: 12px;
      padding: 8px;

      &.is-active {
        background-color: rgba($white-001, 0.16);
      }
    }

    @include tablet {
      @include flex-dir(column);
      
      height: calc(var(--admin-gnb-height) * 1px);
      padding: 6px 8px;
      font-size: 12px;
      line-height: 1.5
    }

    // menu icons
    &::before {
      content: "";

      @include size(20px);

      @include tablet {
        @include size(24px);

        flex-shrink: 0;
        margin-bottom: 4px;
      }
    }

    // image name = class name
    $menuClasses: (
      home, // 홈
      channel, // 채널관리
      music, // 음원목록
      performance, // 실적관리
      calculate, // 정산관리
      mypage, // 마이페이지
      alarm, // 공지 및 알림
      cardnews, // 카드뉴스
      guide, // 사용가이드
      customer, // 고객센터
      moreview // 더보기
    );

    @each $class in $menuClasses {
      &.#{$class}::before {
        background-image: icon(icon-#{$class}, 'fff');
        background-size: 100%;
      }
      @include tablet {
        &.#{$class}.is-active::before {
          @include bg-image("icon_nav_dashboard_#{$class}_selected");
        }
      }
      
    }

  }
}

.menu-mobile {
  @extend .hidden-md;
}

.service-wrap {
  @extend .hidden-md;
  
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  margin: 0 #{$admin-nav-side-space}px;
  padding: #{$admin-nav-side-space}px 0 80px;
  border-top: 1px solid $desktop-admin-gnb-division-color;

  h3 {
    font-size: 16px;
    font-weight: $font-medium;
    color: $white-001;
  }
  p {
    padding: 6px 0 16px;
    font-size: 14px;
  }

  .btn-download img {
    width: 100%;
  }
}

.app-text {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.4166;

  footer & {
    color: $white-004;
  }
}

/* ----------------------------------------------------------------
    mobile only menu (aside)
---------------------------------------------------------------- */
#aside {
  @include size(100%);

  position: fixed;
  left: 0;
  top: 0;
  background-color: $white-001;
  overflow-y: auto;

  .user-wrap {
    padding: 16px #{$mobile-common-side-space}px;
  }

  .sec-box-wrap {
    padding: 12px 0 calc(var(--admin-body-content-bottom-space) * 1px);
  }
}

.sec-box {
  margin: 12px 0;
  padding: 0 #{$mobile-common-side-space}px;

  .sec-tit {
    padding: 6px 8px;
    font-size: 12px;
    color: $body-tertiary-color;
  }

  .menu {
    @include flex;
    @include flex-align(center);
    
    width: 100%;
    padding: 12px 8px;

    // image name = class name
    $menuClasses: (
      calculate, // 정산관리
      mypage, // 마이페이지
      alarm, // 공지 및 알림
      cardnews, // 카드뉴스
      guide, // 사용가이드
      customer // 고객센터
    );

    @each $class in $menuClasses {
      &.#{$class}::before {
        background-image: icon(icon-#{$class}, '2c2c2c');
        background-size: 100%;
      }      
    }
  }

  .menu-icon::before {
    @include size(20px);

    content: "";
    margin-right: 8px;
  }

  .menu-link::after {
    @extend .icon-arrow-right;

    content: "";
    margin-left: auto;
  }
}

/* ----------------------------------------------------------------
    board header
---------------------------------------------------------------- */
.board-header {
  @include flex;
  @include flex-align(center);
  @include fixed-top;
  @include mobile-header(main);
  @include backdrop-filter(4px);

  padding: 0 #{$admin-body-header-side-space}px;
  background-color: rgba($white-001, 0.9);

  @include tablet {
    padding: 0 #{$mobile-common-side-space}px;
    
    main:not(.container-main) & { // when mobile view, board header hidden
      display: none;
    }
  }

  .logo {
    height: 20px;
  }

  .btn-alarm {
    @include tablet {
      margin-right: -8px;
    }
  }
}

.user-btn-group {
  margin-left: auto;

  .btn {
    @include size(40px);
    
    vertical-align: middle;
    text-align: center;
  }
}

/* ----------------------------------------------------------------
    board content wrap
---------------------------------------------------------------- */
.board-content-wrap {
  position: relative;
  background-color: inherit;

  @include tabletMin {
    padding: 24px #{$admin-body-content-side-space}px;
  }

  @include tablet {
    padding-bottom: calc(var(--admin-gnb-height) * 1px);
  }

  .container-main & {
    background-color: inherit;
  }
}

.board-title-wrap {
  @include flex;

  position: relative;

  @include tablet {
    @include mobile-header;
    @include flex-align(center);

    .container-main & {
      position: static;
      background-color: transparent;
    }
  }

  &.page-title-wrap > .btn {
    @include tabletMin {
      display: none;
    }

    @include tablet {
      position: absolute;
      right: #{$mobile-common-side-space}px;
      height: 100%;
  
      &-back { // .btn-back
        left: #{$mobile-common-side-space}px;
        right: auto;
      }
    }
  }
}

.board-title {
  @include font(board-title-main);

  .page-title-wrap & { // .page-title-wrap .board-title
    @include tablet {
      width: min(100%, 202px);
      margin: 0 auto;
      font-size: 16px;
      font-weight: $font-medium;
      text-align: center;
    }
  }
}

.board-title-sub-wrap {
  @include flex;
  @include flex-align(flex-end);

  padding: 48px 0 16px;

  .con-box & {
    &:first-of-type {
      // padding-top: 32px;
    }
  }
}

.board-title-sub {
  @include font(sub-main);
  margin-right: 8px;

  @include tablet {
    font-size: 18px;

    .box-title:not(.not-expanded .box-title) & {
      width: 100%;
    }
  }
}

.subinfo {
  font-size: 14px;
  color: $gray-003;
  font-weight: $font-medium;

  .board-title-sub-wrap & {
    line-height: 1.2;

    @include tablet {
      margin-left: auto;
    }
  }
}

.data-control-group {
  @include flex;
  @include flex-align(flex-start);

  gap: 8px;
  width: 100%;
  margin-bottom: 20px;

  @include tabletMin {
    position: absolute;
    right: 0;
    top: -30px;
  }
}

.board-content {
  position: relative;
  padding: calc(var(--admin-body-content-top-space) * 1px) 0 calc(var(--admin-body-content-bottom-space) * 1px);

  @include tablet {
    padding-left: #{$mobile-common-side-space}px;
    padding-right: #{$mobile-common-side-space}px;
  }
}

/* ----------------------------------------------------------------
    list group 
---------------------------------------------------------------- */
.list-group {

  .tab-panel & {
    @include tablet {
      margin-top: #{$tab-content-top-space * -1}px
    }
  }

  .board-content & {
    @include tablet {
      margin-left: #{$mobile-common-side-space * -1}px;
      margin-right: #{$mobile-common-side-space * -1}px;
    }
  }

  $list-label-size: 20;
  // list types
  &.type-label {
    > li {
      position: relative;
      
      &::before {
        @include size(#{$list-label-size}px);

        content: "";
        position: absolute;
        left: #{$admin-list-side-space}px;
        top: calc(#{$admin-list-side-space}px - 3px);
      }

      // image name = class name
      $listStateClasses: calculated, certified, update;
      @each $class in $listStateClasses {
        &.state-#{$class}::before {
          @include bg($name:'label_icon_#{$class}.svg');
        }
      }
    }

    .list-item {
      padding-left: calc(#{$list-label-size}px + #{$admin-list-side-space}px + 8px);
    }
  }
}

.list-item {
  padding: #{$admin-list-side-space}px;

  @include tabletMin {
    @include radius(8px);
  }

  &:hover {
    background-color: $admin-list-hover-bg-color;
    transition: 0.2s ease;
  }

  .is-unread & { // not read list
    background-color: $admin-list-unread-bg-color;
  }

  .title {
    font-size: 16px;
    font-weight: $font-medium;
  }

  .subinfo {
    line-height: 1.214;
  }
}

/* ----------------------------------------------------------------
    card table group
---------------------------------------------------------------- */
.cell {
  text-align: right;
  word-break: keep-all;
}

.card-table-group {
  .cell {
    @include flexitem(1);

    padding-left: #{$card-table-cell-side-space}px;
    padding-right: #{$card-table-cell-side-space}px;
    
    &-delete { // cell-delete
      @extend .flex-auto;

      @include tabletMin {
        padding-right: #{$card-table-exception-side-space}px;  
      }
    }

    &-number { // cell-number
      @extend .flex-auto;

      width: 62px;
      font-weight: $font-bold;

      @include tablet {
        width: 22px;
      }
    }
  }

  .cell-group {
    @include flex-group;
  }

  .top-cell-group {
    @extend .flex-row;
    
    @include tablet {
      @include flex-align(flex-start);
    }
  }

  .cell-pos {
    @include tablet {      
      position: absolute;
      top: #{$card-box-space}px;
      right: #{$card-box-space}px;
      z-index: 1;
      width: auto !important;
      padding: 0 !important;
    }
  }
}

.card-table-header {
  @extend .hidden-md;
  @include flex-group;
  @include radius(8px);

  margin-bottom: #{$card-box-bottom-gap-space}px;
  overflow: hidden;

  .cell {
    @include table-header-style;

    align-content: center;
  }

}

.card-box {
  @include flex-group;
  @include radius(calc(var(--card-box-radius) * 1px));
  
  position: relative;
  padding-top: #{$card-box-space}px;
  padding-bottom: #{$card-box-space}px;
  margin-bottom: #{$card-box-bottom-gap-space}px;
  border: 1px solid $gray-006;
  box-shadow: var(--card-box-shadow);

  @include tablet {
    @include flex-dir(column);

    padding-left: #{$card-box-space}px;
    padding-right: #{$card-box-space}px;
  }

  .cell-tit:not(.sr-only) {
    @extend .visible-md;
    
    color: $card-box-cell-title-text-color;
  }

  .cell {
    min-width: 0;
    font-size: calc(var(--card-table-body-font-size) * 1px);
  }

  .cell-group {
    @include tablet {
      @include flex-dir(column);
      @include radius(calc(var(--card-box-radius) * 0.5px));

      &:not(.top-cell-group) { // no background class : top-cell-group
        background-color: $skyblue-002;
      }
    }

    &:not(:first-child) {
      @include tablet {
        margin-top: 12px;
      }
    }
    
    .cell {
      @include tablet {
        &:not(.top-cell-group .cell) {
          @include flex-group($justify-cont: space-between);

          width: 100%;
          min-height: 44px;
          padding: 9px 12px;
        }
      }
    }
  }

  .data {
    @include tablet {
      &:not(.cell-number .data) {
        font-weight: $font-medium;
      }
    }
  }
}

.channel-box {
  @include flex;
}


/* ----------------------------------------------------------------
    table group
---------------------------------------------------------------- */
.table {
  width: 100%;

  @include tablet {
    table-layout: fixed;
  }
}

.cell {
  //
  table & {
    overflow-wrap: break-word;
    white-space: pre-line;
    
    @include mobile {
      text-align: center !important;
    }

    &:nth-of-type(1) {
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      z-index: 1;
      
      @include tablet {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.is-scroll::after { // when scrollinig horizontal, add class
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      box-shadow: $box-shadow-008;
    }
  }
  thead & {
    @include table-header-style;

    padding: 0 #{$card-table-cell-side-space}px;
  }

  tbody & {
    padding: #{$table-cell-vertical-space + 8}px #{$card-table-cell-side-space}px;
    border-bottom: 1px solid var(--table-row-border-color);
    background-color: $white-001;
    font-size: calc(var(--card-table-body-font-size) * 1px);
    color: $body-default-color;
    line-height: 1.2;
  }
}

/* ----------------------------------------------------------------
    nodata box
---------------------------------------------------------------- */
.nodata-box {
  padding: 120px 0;
  text-align: center;

  .title {
    @include margin-bottom(12px, 8px);

    display: block;
    font-size: 20px;

    @include tablet {
      font-size: 16px;
    }
  }

  p {
    font-size: 16px;
    color: $body-tertiary-color;
  }

  .board-box & {
    margin-top: auto;
    margin-bottom: auto;
  }

  .nodata-box-wrap & {
    @include tabletMin {
      padding: 280px 0;
    }
  }
}

/* ----------------------------------------------------------------
    notice box
---------------------------------------------------------------- */
.notice-box {
  @include flex;
  @include flex-align(center);
  @include margin-bottom(32px, 12px);
  @include radius(8px);
  
  height: calc(var(--notice-box-height) * 1px);
  padding: 10px 12px;
  border: 1px solid $red-013;
  background-color: $red-012;
  font-size: 14px;

  @include tablet {
    margin-top: #{$mobile-admin-body-content-top-space}px;
    margin-left: #{$mobile-common-side-space}px;
    margin-right: #{$mobile-common-side-space}px;
  }

  .notice-swiper {
    @include flexitem(1);

    .swiper-slide {
      min-height: 24px;
      height: auto !important;
      padding-right: #{$notice-paging-bullet-width}px;
    }
  }

  .notice {
    @include flex;
    @include flex-align(center);

    gap: 6px;

    @include tablet {
      @include flex-align(flex-start);
      
      line-height: 1.45;
    }

    > .flexbox {
      min-width: 0;
    }
    
    .label, .date {
      flex-shrink: 0;
    }
    .label {
      margin-top: 2px;
      padding: 3px 6px;
    }
  }

  h4 {
    @include ellipsis;

    margin-right: 6px;
    font-weight: $font-medium;
  }

  .date {
    color: $gray-001;

    @include tablet {
      font-size: 12px;
    }
  }

}

/* ----------------------------------------------------------------
    top info wrap
---------------------------------------------------------------- */
.top-info-wrap {
  @include tabletMin {
    margin: #{$tab-content-top-space * -1}px #{$admin-body-content-side-space *-1}px 40px;
    padding: 20px #{$admin-body-content-side-space}px;
  }

  @include tablet {
    margin: 0 #{$mobile-common-side-space * -1}px 22px;
    padding: #{$mobile-common-side-space * 1}px;

    .tab-panel > & {
      margin-top: -16px;
    }
  }

  .info-title {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
  }
}

.info-text {
  @include flex;

  gap: 8px;
  padding: 16px 0 4px;
  font-size: 13px;
  color: $gray-008;
  line-height: 1.34;

  i {
    flex-shrink: 0;
  }

  .top-info-wrap & {
    padding-top: 12px;

    &:first-child {
      padding-top: 0;
    }
  }
}

/* ----------------------------------------------------------------
    data box wrap
---------------------------------------------------------------- */
.data-box-wrap {
  @extend .flexbox;
  @include flex-wrap(wrap);

  gap: #{$data-box-gap-space}px;

  @include tablet {
    @include flex-dir(column);
  }
}

.data-box {
  @include flex-group($justify-cont: space-between, $align-item: flex-start);
  @include flexitem(1);
  @include data-box-style;
  
  gap: 10px;
  width: 100%;
  max-height: 160px;
  padding: calc(var(--data-box-vertical-space) * 1px) calc(var(--data-box-side-space) * 1px);
  box-shadow: var(--data-box-shadow);

  .text {
    @include flexitem(1);

    word-break: break-all;
    overflow-wrap: break-word;

    @include tabletMin {
      min-width: 140px;
    }
  }
  .title {
    @include margin-bottom(20px, 16px);
    
    font-size: calc(var(--data-box-title-font-size) * 1px);
    font-weight: $font-medium;

    @include tablet {
      font-size: 14px;
    }
  }
  .value {
    margin-right: #{$data-unit-gap-space}px;
    font-size: 32px;
    font-weight: $font-medium;
    line-height: 1.1875;
    letter-spacing: -0.6px;

    @include tablet {
      font-size: calc(var(--data-box-value-font-size) * 1px);
    }
  }
  .change {
    margin-top: 6px;
    font-size: calc(var(--data-box-ratio-font-size) * 1px);
  }

  .chart {
    @include size(150px, 80px);

    flex-shrink: 0;
    margin: auto 0;

    @include mobile {
      width: 126px;
    }
  }
}

.main-data-box-wrap {
  .scroll-x-wrap.flexbox {    
    @include flex-wrap(wrap);
    
    @include tablet {
      @include flex-wrap(nowrap);

      padding-bottom: 12px;
    }
  }
}

.main-data-box {
  @extend .flexbox;
  @extend .flex-column;
  @include flexitem(1);
  @include size(290px, 163px);
  @include data-box-style;

  min-width: 288px;
  padding: 24px;
  box-shadow: 0 1px 16px rgba($black-001, 0.05);

  .title {
    font-size: calc(var(--data-box-title-font-size) * 1px);
    font-weight: $font-medium;
  }
  .date {
    @extend .text-gray;
    font-size: 12px;
  }
  .change {
    font-size: calc(var(--data-box-ratio-font-size) * 1px);
  }
  .value {
    margin-right: #{$data-unit-gap-space}px;
    font-size: calc(var(--data-box-value-font-size) * 1px);
    font-weight: $font-medium;
    line-height: 1.1875;
    letter-spacing: -0.6px;
  }

  &:not(.img-today_profit) > .auto-top {
    text-align: right;
  }

  &.img-today_profit {
    @include bg-image('img_today_profit');

    background-position: calc(100% - 20px) 20px;
    background-repeat: no-repeat;
    background-size: 44px;
  }

}

/* ----------------------------------------------------------------
    board box
---------------------------------------------------------------- */
.board-box-wrap {
  @extend .flexbox;

  gap: calc(var(--board-box-bottom-gap-space) * 1px);

  &:not(.nodata-box-wrap) {
    padding: calc(var(--board-box-vertical-space) * 1px) 0;
  }

  @include tabletMin {
    @include flex-wrap(wrap);
  }

  @include tablet {
    @include flex-dir(column);

    margin-left: #{$mobile-common-side-space * -1}px;
    margin-right: #{$mobile-common-side-space * -1}px;
  }

  &.type-vertical {
    @include tabletMin {
      @include flex-dir(column);
    }
    
    padding: 0;
  }
}

.board-box {
  @include flex;
  @include flex-dir(column);
  @include radius(calc(var(--data-box-radius) * 1px));

  padding: calc(var(--board-box-vertical-space) * 1px) calc(var(--board-box-side-space) * 1px);
  border: 1px solid var(--data-box-border-color);
  background: $white-001;

  @include tablet {
    .board-box-wrap & {
      &:not(.not-expanded):first-child {
        margin-top: calc(var(--admin-body-content-top-space) * -1px);
        border-top: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
    }

    &:not(.not-expanded) {
      @include radius(0);

      width: 100%;
      border-left: 0;
      border-right: 0;
    }
  }

  &.not-expanded {
    padding-top: #{$mobile-board-box-vertical-space}px;
    padding-bottom: #{$mobile-board-box-vertical-space}px;
    box-shadow: 0 1px 8px rgba($black-001, 0.05);

    @include tablet {
      margin: 0 #{$mobile-common-side-space}px;

      .btn-apply {
        margin-top: 16px;
      }
    }
  }

  .data:not(.cell .data) {
    font-size: 16px;
    font-weight: $font-medium;

    .value {
      margin-right: 4px;
      font-size: 24px;
      font-weight: $font-semibold;

      @include tablet {
        font-size: 20px;
      }
    }
  }
}

.box-title {
  @extend .flexbox;
  @extend .flex-between;
  
  margin-bottom: 32px;

  @include tablet {
    @include flex-wrap(wrap);

    gap: 8px;
  }

  .text .board-title-sub {
    margin-bottom: 8px;
  }

  .form-control {
    @include tablet {
      margin-top: 16px;
    }
  }
  
  .con-box & {
    margin-bottom: 16px;
  }

  + .filters-group {
    margin-top: 24px;
  }
}

.box-forms {
  max-width: 1020px;  
}

/* ----------------------------------------------------------------
    chart elements
---------------------------------------------------------------- */
.chart-grid-wrap {
  @include flex;
  @include flex-dir(column);

  .chart-container {
    position: relative; 
    flex: 1;
  }

  .board-box & {
    height: 100%;
  }
}

/* chart units */
.chart-units {
  @extend .flexbox;
  
  margin-bottom: 8px;
  font-size: 12px;
  color: $gray-001;
  line-height: 1.5;
}

/* chart labels */
.chart-labels {
  @include radius(calc(var(--card-box-radius) * 1px));

  margin: 24px 0;
  background-color: $white-009;

  &.type-horizon {
    @include flex-group($justify-cont: center, $wrap: wrap);

    padding: 16px 8px;
  }

  &.type-vertical {
    padding: 16px;
  }

  &:nth-child(1) {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.chart-label {
  @extend .flexbox;
  @extend .flex-alcenter;

  .name {
    font-size: 14px;
  }

  .data {
    font-weight: $font-regular !important;

    &.ellipsis {
      @include ellipsis;
    }

    .type-vertical & {
      flex-shrink: 0;
      padding: 0 1px;
      font-size: 14px !important;
      white-space: nowrap;
    }
  }

  .type-horizon & {
    &:not(:last-of-type) {
      margin-right: calc(var(--chart-label-horizon-gap-space) * 1px);

      @include tablet {
        margin-right: calc((var(--chart-label-horizon-gap-space) / 2) * 1px);
      }
    }
  }
}
.mark {
  display: inline-block;
  flex-shrink: 0;

  &[class*="mark-8"] {
    @include size(8px);
  }
  &[class*="mark-10"] {
    @include size(10px);
  }

  &[class$="-circle"] {
    @include circle;
  }

  .type-horizon & {
    margin-right: 5px;
  }
  
  .type-vertical & {
    margin-right: 8px;
  }
}

/* chart tooltip */
.chart-tooltip {
  @include radius(calc(var(--chart-tooltip-radius) * 1px));

  position: absolute;
  padding: 12px;
  background-color: var(--chart-tooltip-bg-color);
  box-shadow: var(--chart-tooltip-box-shadow);

  .datas {
    margin-top: 6px;

    &.line {
      padding-top: 6px;
      border-top: 1px solid $gray-010;
    }

    .flexbox {
      @include flex-align(center);

      + .flexbox {
        margin-top: 4px;
      }
    }
    .mark {
      margin-right: 4px;
    }
    .text {
      font-size: 14px;
    }
  }
}

/* element in chart svg */
.chart-circle-title {
  @include flex;
  @include flex-dir(column);
  @include flex-align(center);
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  span {
    font-size: 14px;
  }
}

/* ----------------------------------------------------------------
    column box
---------------------------------------------------------------- */
.column-box {
  margin-top: 4px;
  padding: 8px 0;

  .rows {
    @extend .flexbox;
    @extend .flex-between;
    @extend .flex-alcenter;

    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.429;

    .con {
      font-weight: $font-medium;
    }

    .unit {
      font-weight: $font-regular;
    }
  }

  .box-inner {
    @include radius(calc(var(--card-box-radius)*.5px));

    background-color: $skyblue-002;

    .rows {
      padding: 12px 24px;

      @include tablet {
        padding: 12px 16px;
      }
    }
  }

  .type-line & {
    margin-top: 0;
    padding: 16px 0;

    &:last-of-type {
      padding-bottom: 0;
    }

    + .column-box {
      border-top: 1px solid var(--data-box-border-color);
    }
  }
}

/* ----------------------------------------------------------------
    detail wrap
---------------------------------------------------------------- */
.detail-wrap {
  .tab-panel & {
    @include tablet {
      margin-top: #{$tab-content-top-space * -1}px
    }
  }
}

.detail-header {
  padding: 16px 0;
  border-bottom: 1px solid $gray-004;

  @include tablet {
    padding: #{$mobile-common-side-space}px;

    .board-content & {
      margin-left: #{$mobile-common-side-space * -1}px;
      margin-right: #{$mobile-common-side-space * -1}px;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: $font-medium;
    line-height: 1.428;
  }
  
  .info {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: $gray-003;

    @include tablet {
      font-size: 14px;
    }
  }
}

.detail-body {
  min-height: 640px;
  border-bottom: 1px solid $gray-004;
  border-width: 1px 0;
  padding: 24px 0;

  @include tablet {
    min-height: 320px;
  }
}

/* ----------------------------------------------------------------
    accordion
---------------------------------------------------------------- */
.accordion {
  margin-top: 24px;
}

.accordion-item {
  padding: calc(var(--accordion-vertical-space) * 1px) calc(var(--accordion-side-space) * 1px);

  + .accordion-item {
    margin-top: 16px;
  }

  .type-round-outline & {
    @include radius(calc(var(--accordion-radius) * 1px));
    border: 1px solid var(--accordion-border-color);
  }
}

.accordion-header {
  .accordion-button {
    @extend .flexbox;
    @extend .flex-alcenter;

    width: 100%;

    &::after {
      @extend .icon-accordion-arrow;

      content: "";
      margin-left: auto;
      transition: 0.2s ease;
    }

    &:not(.collapsed) {
      &::after {
        transform: rotate(-180deg);
      }

      .label {
        display: none;
      }

      .type-round-outline & {
        .title {
          font-weight: $font-bold;
        }
      }
    }

    .type-line & {
      padding-bottom: 15px;
      border-bottom: 1px solid var(--accordion-border-color);
    }
  }

  .title {
    margin-right: 12px;
    font-size: 16px;

    .type-round-outline {
      font-weight: $font-medium;
    }

    .type-line & {
      font-weight: $font-bold;
    }
  }
}

.accordion-collapse {
  .type-line & {
    padding: 16px 0;
  }
}

.collapse:not(.show) {
  display: none;
}



.par-con {
  font-size: 14px;
  line-height: 1.428;

  .tit {
    display: block;
    margin-bottom: 6px;
    font-weight: $font-medium;
  }

  .par,
  .list-text-group {
    color: $body-tertiary-color;
  }

  + .par-con {
    margin-top: 12px;
  }
}

/* ----------------------------------------------------------------
    music source
---------------------------------------------------------------- */
.con-box {
  margin-bottom: 32px;

  .tab-panel & {
    &:first-of-type {
      margin-top: #{calc(24 - $tab-content-top-space)}px;
    }
  }
}

.music-swiper {
  &.swiper {
    @include tabletMin {
      margin-left: #{$admin-body-content-side-space * -1}px;
      margin-right: #{$admin-body-content-side-space * -1}px;
      padding: 0 #{$admin-body-content-side-space}px;
    }

    @include tablet {
      overflow: visible;
    }
  }

  .swiper-wrapper {
    @include tablet {
      @include scroll($size: 4px, $scroll-color: var(--scrollbar-light-color));
  
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      
      margin-left: #{$mobile-common-side-space * -1}px !important;
      margin-right: #{$mobile-common-side-space * -1}px !important;
      padding: 0 #{$mobile-common-side-space}px;
    }

    @include mobile {
      scrollbar-width: none;
  
      &::-webkit-scrollbar {
        @include size(0);
  
        display: none;
        background: transparent;
        -webkit-appearance: none;
        appearance: none;
      }
    }
  }
}

.music-item {
  width: 142px !important;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 14px;
  }

  .info {
    @extend .flexbox;
    @extend .flex-column;

    margin-top: 8px;
    font-size: 14px;
    line-height: 1.428;
  }
  .title {
    font-weight: $font-medium;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;
  }
  .code {
    @extend .text-darkgray;
  }
  .tags {
    @extend .text-darkgray;
    @include ellipsis;

    font-size: 12px;
  }
}

.music-thumb {
  @include radius(8px);

  overflow: hidden;
  position: relative;
  flex-shrink: 0;

  img {
    @include size(100%);
    object-fit: cover;
  }

  .mask-play {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--track-list-dim-color);
  }
  
  .music-item & {
    @include size(142px);
  } 

  .track-list & {
    @include size(48px);
  }

  .music-player & {
    @include size(40px);
    @include radius(2px);
  }
}

/* ----------------------------------------------------------------
    track table group
---------------------------------------------------------------- */
.track-list {
  @extend .flexbox;
  @extend .flex-alcenter;

  padding: 16px calc(var(--track-list-side-space) * 1px);
  // transition: 0.2s;

  @include tabletMin {
    + .track-list {
      margin-top: 16px;
    }

    &:hover {
      --track-list-gradation-color: 245, 245, 245;

      background-color: $white-004;
    }
  }

  &.is-selected {
    --track-list-gradation-color: 245, 245, 245;

    background-color: $white-004;
  }

  div[role="cell"] {
    @extend .flexbox;
    @extend .flex-alcenter;

    color: $gray-001;
  }

  .thumb {
    width: 48px;
    margin-right: 16px;
  }

  .info {
    position: relative;
    min-width: 0;
    width: 53.552%;
    line-height: 1.428;

    @include tablet {
      @include flex-dir(column);
    }

    span {
      @include tabletMin {
        @include flexitem(0.8);
        text-align: center;
      }
    }

    .title {
      @include flexitem(1);

      color: $black-002;
      font-weight: $font-medium;
      overflow: hidden;
      white-space: nowrap;

      @include tabletMin {
        text-overflow: ellipsis;
      }
    }

    span,
    .title {
      @include tablet {
        width: 100%;
        font-size: 14px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 24px;
      background: $white-001;
      background: linear-gradient(270deg, rgba(var(--track-list-gradation-color), 1) 8%, rgba(var(--track-list-gradation-color), 0) 98%);
    }
  }
  
  .sound {
    @extend .flex-alcenter;

    width: 215px;

    @include laptop {
      display: none !important;
    }
  }
  .wave {
    @include size(162px, 46px);
    flex-shrink: 0;
  }
  .time {
    margin-left: 16px;
    font-size: 14px;
  }
  
  .controls {
    margin-left: auto;
    gap: 20px;

    @include tablet {
      gap: 16px;
    }
  }
}

/* ----------------------------------------------------------------
    music player
---------------------------------------------------------------- */
.music-player {
  @extend .flexbox;
  @extend .flex-column;

  position: fixed;
  left: calc(var(--admin-gnb-width) * 1px);
  right: 0;
  bottom: 0;
  z-index: $music-player-zindex;
  height: calc(var(--music-player-height) * 1px);
  padding: 16px calc(var(--music-player-side-space) * 1px);
  background-color: var(--admin-gnb-bg-color);

  transform: translateY(calc(var(--music-player-height) * 1px));
  transition: transform 0.5s ease-in-out;

  @include tablet {
    left: 0;
    bottom: calc(var(--admin-gnb-height) * 1px);
    padding-top: 7px;
    padding-bottom: 0;
  }

  &.is-play {
    transform: translateY(0);
  }

  .top,
  .music-info,
  .album,
  .volume,
  .controls {
    @extend .flexbox;
    @extend .flex-alcenter;
  }

  .top {
    padding-left: calc(var(--music-player-side-space) * 1px);
    padding-right: calc(var(--music-player-side-space) * 1px);

    @include tablet {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .music-info {
    @include flexitem(1);
    @include flex-justify(center);
    
    max-width: 100%;
  
    @include tabletMin {
      min-width: 400px;
      margin: 0 auto;
    }
  }
  .album {
    position: relative;
    
    @include tabletMin {
      min-width: 268px;
    }

    @include tablet {
      @include flexitem(1);

      min-width: 0;
    }
  }
  .info {
    min-width: 0;
    padding: 0 10px 0 16px;
    line-height: 1.428;
  }
  .title {
    @include ellipsis;

    display: block;
    color: $white-001;
    font-weight: $font-medium;
  }
  .code {
    display: block;
    font-size: 14px;
    color: $green-002;
  }
  .controls {
    flex-shrink: 0;
    gap: 16px;
  }

  .bottom {
    margin-top: auto;
  }
}


.volume {
  @extend .hidden-md;

  gap: 12px;
  width: 148px;
  margin-left: 60px;

  .icon-speaker {
    flex-shrink: 0;
  }
}

.music-bars {
  @include size(100%, 4px);

  display: block;
  position: relative;
  background-color: var(--music-player-bar-bg-color);

  .bar-control {
    position: absolute;
    height: 100%;
    
    background-color: var(--music-player-bar-controler-color);

    .volume & {
      @include radius(10px);

      &::after {
        @include size(12px);
        @include circle;
        
        content: "";
        display: block;
        position: absolute;
        right: -6px;
        top: 50%;
        background-color: var(--music-player-bar-controler-color);
        transform: translateY(-50%);
      }
    }
  }

  .volume & {
    @include radius(10px);
  }

}

/* ----------------------------------------------------------------
    guide text
---------------------------------------------------------------- */
.guide-text {
  @extend .flexbox;

  @include tablet {
    @include flex-justify(space-between);
  }
}

/* ----------------------------------------------------------------
    list control group
---------------------------------------------------------------- */
.list-control-group {
  @extend .flexbox;
  @extend .flex-alcenter;

  margin-bottom: 24px;

  .filters-group + & {
    margin-top: 24px;
  }
}

/* ----------------------------------------------------------------
    swiper
---------------------------------------------------------------- */
.music-swiper {
  .swiper-button-arrow {
    @include size(48px, 228px);

    top: 0;

    &::after {
      font-size: 0;
      color: transparent;
    }

    &.swiper-button-disabled {
      display: none;
    }

    @include tablet {
      display: none; // Remove swiper from screen below 1024
    }
  }

  @each $direction in (prev, next) {
    .swiper-button-#{$direction} {
      @include bg-image('btn_swiper_#{$direction}');

      @if($direction == prev) {
        left: 0;
      } @else {
        right: 0;
      }
    }
  }
}

/* ----------------------------------------------------------------
    top banner
---------------------------------------------------------------- */
.top-banner {
  @extend .flexbox;
  @extend .flex-alcenter;
  @include radius(16px);

  background-color: #F2F4F6;

  @include tablet {
    margin: 8px #{$mobile-common-side-space}px 0;
  }

  > a {
    @extend .flex-1;
    @extend .flex-alcenter;

    padding: 16px;
  }

  .text {
    h4 {
      margin-bottom: 2px;
    }
  }

  .btn-close {
    margin: 16px;
  }

  .nav-tabs + & {
    margin-top: 24px;
  }
}

/* ----------------------------------------------------------------
    user guide
---------------------------------------------------------------- */
.user-guide-wrap {
  @extend .flexbox;
  @extend .flex-wrap;

  gap: 23px;

  &:not(.flex-column) {
    @include tablet {
      @include flex-dir(column);
    }
  }

 .items {
  @include flexitem(1);
  
  margin-bottom: 48px;

    @include tabletMin {
      min-width: 290px;
      max-width: 290px;
    }
  }

  .text {
    margin-bottom: 16px;

    @include tabletMin {
      min-height: 68px;
    }
  }
  .step {
    display: block;
    margin-bottom: 2px;
    color: $red-008;
  }

  &.flex-column {
    .items {
      @include tabletMin {
        min-width: auto;
        max-width: 1020px;
      }
    }

    .text {
      min-height: auto;
    }
  }
}