/* cafe24 surround font */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* gmarket sans font */
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* ----------------------------------------------------------------
	font style
---------------------------------------------------------------- */
* {
    font-family: "Noto Sans KR", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

.sur { font-family: "Cafe24Ssurround", sans-serif; }
.gmarket { font-family: "GmarketSans", sans-serif; }

/* ----------------------------------------------------------------
	common style
---------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
    html {
        font-size: 62.5%;
    }
}
@media only screen and (min-width: 1025px) {
    html {
        font-size: 78%;
    }
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background: #f5f5f5;
    font-size: 1.6rem;
    line-height: 1.42857143em;
    color: #383841;
    letter-spacing: -.08rem;
    overflow-x: hidden;
}

button, input {
    outline: 0;
}

#wrap {
    max-width: 960px;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
}

#container {
    padding-top: 6rem;
}

#skip-navigation,
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    text-indent: -9999px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* btn */
.btn-white {
    background: #fff;
    color: #000;
}

.btn-yellow {
    background: #fcf688;
    color: #000;
}

/* icon */
.ico {
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden;
    background: url("../images/common/icon.png") no-repeat;
    background-size: 25rem;
}

.ico-search {
    width: 1.7rem;
    height: 1.7rem;
}

.ico-menu {
    width: 2.3rem;
    height: 1.6rem;
    background-position: -5rem 0;
}

.ico-estimate {
    width: 1.8rem;
    height: 1.8rem;
    background-position: 0 -5rem;
}

.ico-center {
    width: 2.1rem;
    height: 1.8rem;
    background-position: -5rem -5rem;
}

.ico-apply {
    width: 1.9rem;
    height: 1.6rem;
    background-position: -10rem -5rem;
}

.ico-ai {
    width: 1.8rem;
    height: 2.2rem;
    background-position: -15rem -5rem;
}

.ico-guide {
    width: 1.9rem;
    height: 1.4rem;
    background-position: -20rem -5rem;
}

.ico-phone {
    width: 1.8rem;
    height: 1.8rem;
    background-position: -10rem 0;
}

.ico-kakao-right {
    width: 1.7rem;
    height: 1.6rem;
    background-position: -15rem 0;
}

.ico-kakao-left {
    width: 1.6rem;
    height: 1.5rem;
    background-position: -20rem 0;
}

/* ----------------------------------------------------------------
    header
---------------------------------------------------------------- */
header {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;   
    position: fixed;
    left: 50%;
    top: 0;
    width: 100%;
    max-width: 960px;
    height: 6rem;
    background: #662eff;
    z-index: 1000;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

header .logo,
header .menu {
    padding: 0 2.5rem;
}

header button {
    line-height: 0.1;
}

header .logo a {
    display: block;
    font-weight: 500;
    font-size: 1.8rem;
    white-space: nowrap;;
    color: #fff;
}

header .search {
    position: relative;
    -webkit-box-flex: 1;
	-ms-flex: 1;
    flex: 1;
}

.search input {
    width: 100%;
    height: 3.2rem;
    padding: 0 4.9rem 0.2rem 3.9rem;
    border: 0.15rem solid #4e18e0;
    background: #fff;
    font-size: 1.3rem;
    color: rgba(94, 38, 246, 0.4);
    border-radius: 10rem;
}

.search button {
    position: absolute;
    right: 0.8rem;
    top: 50%;
    padding: 0.7rem 0.8rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

header .menu {
    height: inherit;
}

/* ----------------------------------------------------------------
    search box
---------------------------------------------------------------- */
.search-box {
    display: none;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 2.2rem rgba(0, 0, 0, 0.18);
}

.search-box a {
    display: block;
    padding: 2rem 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: #383841;
    text-align: center;
}

.search-box a + a {
    border-top: 1px solid #e1e1e1;
}

.search-box .ico {
    margin: -0.2rem 0.5rem 0 0;
}

/* ----------------------------------------------------------------
    nav
---------------------------------------------------------------- */
.gnb-cont {
    position: fixed;
    right: -100%;
    top: 0;
    width: 28.65rem;
    height: 100%;
    padding: 6.25rem 3.2rem 1.9rem;
    font-size: 1.4rem;
    background: #fff;
    z-index: 9999;
    overflow-y: auto;
    -webkit-transition: all, 0.4s;
    -moz-transition: all, 0.4s;
    -ms-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    transition: all, 0.4s;
}

.gnb-cont.active {
    right: 0;
}

.gnb .transparency {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9990;
}

.btn-close {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    padding: 0.2rem 0.7rem;
    font-size: 1.9rem;
    line-height: 3.2rem;
}

.gnb-btn {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.gnb-btn a {
    display: table-cell;
    vertical-align: middle;
    padding: 1rem 0.4rem;
    border: 0.1rem solid #662eff;
    font-weight: 500;
    color: #662eff;
    line-height: 1.4rem;
    text-align: center;
}

.gnb-btn a:first-child {
    background: #662eff;
    color: #fff;
    border-radius: 50px 0 0 50px;
}

.gnb-btn a:last-child {
    border-radius: 0 50px 50px 0;
}

.gnb .menu-list {
    margin: 3.2rem 0;
}

.gnb .menu-list a {
    display: block;
    position: relative;
    padding: 1.7rem 0.7rem;
    border-bottom: 1px solid #e5e5e5;
}

.gnb .menu-list i {
    position: absolute;
    right: 0.7rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
