@use '../helpers' as *;


/*
$color: red;

color: rgba($color, 0.5); //scss 컬러 내장함수
*/
* {
  font-family: "Poppins", "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: rem(16);
  color: $black-800;
}