@charset 'utf-8';

@use 'base';
@use 'components';
@use 'helpers' as *;
@use 'pages';


.logo {
  display: block;
  @include size(160px, 40px);
  
  .member-container & {
    @include bg($name: 'logo_light.svg');
  }

  .board-header & {
    @include bg($name: 'logo_dark.svg');
  }

  .landing & {
    @include size(rem(260), rem(26));
    @include bg($name: 'logo_landing.svg');

    min-width: 182px;
    min-height: 18.2px;
  }
}

/* ----------------------------------------------------------------
    guide box
---------------------------------------------------------------- */
.guide-box {
  @extend .alert-text;
  
  .text {
    line-height: 1.42;
    color: $gray-001;
  }

  &.bg-light {
    padding: 16px 12px;
  }

  &.box-round {
    @include radius(calc(var(--input-radius) * 1px));
  }
}

/* ----------------------------------------------------------------
    list text style
---------------------------------------------------------------- */
.list-text-group {
  > li {
    @if(--list-style-width != auto) {
      padding-left: calc(var(--list-style-width) * 1px);
    }

    &::before {
      display: inline-block;
      vertical-align: middle;

      @if(--list-style-width != auto) {
        width: calc(var(--list-style-width) * 1px);
        margin-left: calc(var(--list-style-width) * -1px);
      }
    }
  }

  .top-info-wrap & {
    color: $gray-008;
    line-height: 1.38;
  }
}

.list-dots {
  --list-style-width: 20;

  > li {
    &::before {
      content: "ã†";
      font-weight: $font-bold;
      text-align: center;
    }
  }

  .guide-box & {
    margin: 16px 0;
  }
}

.list-dash {
  --list-style-width: auto;
  > li::before {
    content: "-";
    margin-right: 4px;
  }
}

.list-num {
  --list-style-width: 20;

  counter-reset: terms-number;

  > li {
    &::before {
      counter-increment: terms-number 1;
      content: counter(terms-number) ')';
    }

    + li {
      .terms-container & {
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }
}

/* ----------------------------------------------------------------
    tooltip
---------------------------------------------------------------- */
.tooltip {
  @include flex;
  @include radius(8px);
  
  position: absolute;
  z-index: var(--tooltip-zindex);
  padding: 8px 12px;
  border: 1px solid var(--tooltip-border-color);
  background-color: var(--tooltip-bg-color);
  font-size: 14px;
  color: var(--tooltip-text-color);
  line-height: 1.4;
  box-shadow: var(--tooltip-box-shadow);
}

/* ----------------------------------------------------------------
    tab
---------------------------------------------------------------- */
.tab-content {
  padding-top: #{$tab-content-top-space}px;

  .top-info-wrap + & {
    padding-top: 0;
  }
  
  > .tab-panel:first-of-type {
    display: block;
  }
}

.tab-panel {
  display: none;
  position: relative;
}


.nav-tabs {
  @include flex;
  @include flex-align(center);

  .tab-item {

  }

  .tab-link {
    transition: 0.2s ease;
  }


  /* types */
  &.type-line {
    @include tablet { 
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: #{$mobile-common-side-space * -1px};
        right: #{$mobile-common-side-space * -1px};
        bottom: 0;
        z-index: -1;
        height: 2px;
        background: $tab-line-color;
      }
    }

    .tab-item {
      min-width: 100px;

      @include tablet {
        min-width: 80px;
      }
    }

    .tab-link {
      width: 100%;
      padding: 8px 26px;
      border-bottom: 2px solid $tab-line-color;
      font-size: 16px;
      color: $gray-001;
  
      &.is-active {
        border-color: $black-003;
        font-weight: $font-bold;
        color: $black-003;
      }

      @include tablet {
        padding: 8px 12px;
      }
    }

    &.is-expanded { // when mobile, background fill
      @include tablet {
        z-index: 1;
        margin: calc(var(--admin-body-content-top-space) * -1px) calc(var(--admin-body-content-top-space) * -1px) 0;
        padding: calc(var(--admin-body-content-top-space) * 1px) calc(var(--admin-body-content-top-space) * 1px) 0;
        background-color: $white-001;
      }
    }

    .scroll-x-wrap & {
      .tab-link {
        padding: 8px 12px;
      }
    }
  }

  &.type-round {

    .tab-item {
      + .tab-item {
        margin-left: 8px;
      }
    }
    .tab-link {
      @include radius(30px);

      padding: 8px 12px;
      border: 1px solid $gray-004;
      background-color: $white-001;
      font-size: 14px;
      font-weight: $font-medium;

      &.is-active {
        border-color: $black-003;
        background-color: $black-003;
        color: $white-004;
      }
    }
  }


  // common fixed style
  &.nav-sticky {
    @include tablet {
      position: sticky;
      top: calc(var(--admin-header-height)* 1px);
      margin: 0 #{$mobile-common-side-space * -1px};
      padding: 0 #{$mobile-common-side-space}px;
      background: $white-001;
      z-index: 10;
    }
  }

  // scroll
  .scroll-x-wrap & {
    width: 100%;

    .tab-item {
      min-width: auto;
    }
  }
}

/* ----------------------------------------------------------------
    filters
---------------------------------------------------------------- */
.btn-filters-wrap {
  @extend .flexbox;

  .order-lg-2 {
    @include tabletMin {
      margin-left: auto;
    }
  }
}

.filters-group {
  @extend .flexbox;
  @include flex-align(center);

  min-width: 0;
  max-width: 100%;
  margin-bottom: #{$filters-group-bottom-space}px;

  .btn-filter {
    font-size: 14px;
  }

  &[class*="filters-sticky"] {
    @include tablet {
      position: -webkit-sticky;
      position: sticky;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: -12px;
      background: $white-001;
      z-index: 10;

      .box-title + & {
        margin-top: -4px;
      }
    }
  }

  &.filters-sticky-depth3 {
    @include tablet {
      top: calc((var(--admin-header-height) + 37) * 1px);
    }
  }

}

.filters-pos-top {
  @include tabletMin {
    position: absolute;
    right: 0;
    top: -55px;
  }
}

.filters-bg-gray {
  $radius: 8;
  @include radius(#{$radius}px);

  width: max-content;
  padding: 4px 6px;
  background-color: $white-004;

  @include tablet {
    width: 100%;
  }

  .btn-filter {
    @include radius(#{$radius}px);
    @include flexitem(1);

    min-width: 80px;
    padding: 9px 4px;
    font-weight: $font-medium;
    color: $gray-001;
    line-height: 1;

    &.is-active {
      background-color: $white-001;
      color: $black-002;
      box-shadow: $box-shadow-01;
    }
  }
}

div[class*="filters-sqround"] {
  @include flexitem(1);
  
  @include tabletMin {
    padding-right: 8px;
  }

  .btn-filter {
    @include radius(8px);

    padding: 8px 12px;
    background-color: $white-004;
    font-weight: $font-medium;
    color: $gray-001;
    line-height: 1.42;

    &:not(:last-of-type) {
      margin-right: 8px;
    }

    // &.is-active {
      
    // }
  }
}

.filters-sqround-primary {
  .btn-filter.is-active {
    background-color: $red-008;
    color: $white-001;
  }
}

.filters-sqround-dark {
  .btn-filter.is-active {
    background-color: $black-003;
    color: $white-001;
  }
}

/* ----------------------------------------------------------------
    swiper
---------------------------------------------------------------- */
.custom-pagination {
  @include size(#{$notice-paging-bullet-width}px);

  .swiper-pagination-bullet {
    @include size(4px);

    margin: 3px auto !important;
    background-color: $gray-001;

    &.swiper-pagination-bullet-active {
      background-color: $red-011;
    }
  }

  .notice-box & {
    right: 0 !important;
  }
}

/* ----------------------------------------------------------------
    terms
---------------------------------------------------------------- */
.terms-container {
  .board-content {
    color: $body-tertiary-color;
    line-height: 1.428;

    @include tablet {
      font-size: 14px;
    }
  }

  .par {
    margin-bottom: 8px;
  }
}

.terms-tit {
  @include font(sub-main);

  padding: 32px 0 16px;
  color: $body-default-color;

  @include tablet {
    padding-bottom: 8px;
  }

  &:first-of-type {
    padding-top: 0;
  }
}
