*{margin:0;padding:0;color:inherit;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
a:active, a:hover, a:focus {outline:0;}
table {border-collapse:collapse;border-spacing:0}
caption {position:absolute;width:1px;height:1px;margin:-1px;text-indent:-9999px;overflow:hidden;clip:rect(0 0 0 0);}
ol, ul, li {list-style:none;}
[role=button] {cursor:pointer;}
:disabled {pointer-events:none;}
select {appearance:none;}
em, address {font-style: normal;}