@use '../helpers' as *;
@use '../base' as *;

.btn {
  display: inline-block;
  position: relative;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  transition: 0.2s;

  &-sm {
    @include radius(4px);

    height: 26px;
    padding: 6px 8px;
    font-size: 12px;
    font-weight: $font-medium;
  }

  &-md {
    @include radius(6px);

    padding: 8px 10px;
    font-size: 14px;
    font-weight: $font-medium;
    line-height: 1.428;
  }

  &-lg {
    @include radius(6px);

    display: block;
    width: 100%;
    border: 1px solid transparent;
    padding: 15px 12px;
    font-size: 16px;

    .input-group-append & {
      padding: 11px 18px;
    }
  }

  &-icon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  

  .card-box .label + & {
    margin-left: 8px;
  }

  /* button color type*/
  $_colorLists: ( // class name : (bg || border color), (text color)
    'black': ($black-002, $white-001),
    'red': ($red-008, $white-001),
    'gray': ($gray-004, $gray-008),
    'lightgray': ($white-004, $black-003),
  );
  @each $name, $colors in $_colorLists {
    &-#{$name} {
      @include btn-fill(nth($colors, 1), nth($colors, 2));
    }

    &-#{$name}line {
      @include btn-outline(nth($colors, 1), nth($colors, 2));
    }
  }
  
  &-black:disabled {
    @include btn-fill($gray-004, $white-001);
  }

  
  &-submit { // btn-submit
    @include btn-fill($red-001, $white-001);

    font-weight: $font-medium;
    line-height: 1.4;

    &:hover {
      background-color: $red-002;
    }

    &:disabled {
      background-color: $red-004;
      color:$white-003;
    }
  }

  &-confirm { // btn-confirm
    @include btn-fill(var(--btn-confirm-bg-color), var(--btn-confirm-text-color));
    
    &:disabled {
      @include btn-fill(var(--btn-confirm-disabled-bg-color), var(--input-text-disable-color));
    }
  }

  &-check { // btn-check
    @extend .btn-lg;
    @include btn-fill($black-005, $gray-003);

    border-color: $black-006;
  }

  &-form { // btn-form
    @extend .btn-lg;
    @include btn-fill($black-005, $white-001);
    
    border-color: $black-006;
  }

  &-text { // btn-text
    font-size: 14px;
  }

  &-link { // btn-link
    @extend .btn-text;

    font-weight: $font-medium;
    line-height: 1.42;
    text-decoration: underline;  
  }

  &-text-arrow { // btn-text-arrow
    @include flex;
    @include flex-align(center);
    
    font-size: 16px;

    &::after {
      @extend .icon-arrow-right;
      
      content: "";
      display: block;
    }

    &:not(.btn-arrow-sm)::after {
      margin-left: 4px;
    }

    &.btn-arrow-sm {
      font-size: 14px;
    }
    &.color-ef4b3e {
      color: #ef4b3e;
    }
  }

  &-apply { // btn-apply
    @extend .btn-red;

    &:disabled {
      color: $white-003;
    }
  }

  &-guide { // btn-guide
    @include btn-outline($gray-004, #D53D36)
  }

  &-goview { // btn-go-view
    @include btn-outline($gray-009, $skyblue-003);
  }

  &-cancel { // btn-cancel
    @include btn-fill($gray-005, $black-002);
  }

  

  /* button icon type */
  &-close { // btn-close
    @extend .btn-icon;

    @include btn-close-colors(light);
    @include btn-close-sizes(default);
    background-size: 24px;

    &.dark {
      @include btn-close-colors(dark);
    }

    &.normal {
      @include btn-close-colors(normal);
    }

    // size
    &.xs {
      @include btn-close-sizes(xs);
      background-size: 16px;
    }
    &.sm {
      @include btn-close-sizes(sm);
      background-size: 20px;
    }
    &.lg {
      @include btn-close-sizes(lg);
    }

    //
    .card-box & { // .card-box .btn-close
      @include radius(calc(var(--button-radius) * 1px));
      @include btn-hover;
    }

    .cell-pos & { // .cell-pos .btn-close
      @include tablet {
        margin-left: auto;
      }
    }

    .tooltip & { // .tooltip .btn-close
      flex-shrink: 0;
      margin-left: 8px;
    }
    
  }

  &-alarm { // btn-alarm
    @include vertical-center;
    @include radius(calc(var(--button-radius) * 1px));
    @include btn-hover;

    .icon-alarm {
      vertical-align: middle;
    }
    
    &.is-updated::after {
      @include circle;
      @include size(6px);

      content: "";
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: $red-005;
    }
  }
 
  &-tooltip { // btn-tooltip
    margin-left: 8px;

    @include tablet {
      margin-left: auto;
    }
  }

  &-more { // btn-more
    @include btn-outline($gray-004, $black-002);
    @include radius(12px);

    padding: 11px 24px;
    font-size: 16px;
    line-height: 1;

    &::after {
      @include size(16px);
      @include bg($name: 'icon_plus.svg');

      content: "";
      display: inline-block;
      vertical-align: top;
      margin-left: 6px;
    }
  }

  &-upload-delete { // btn-upload-delete
    .form-file-wrap & {
      position: absolute;
      right: 16px;
      top: 16px;
      z-index: 1;
    }
  }

  &-edit { // btn-edit
    .box-title & {
      margin: -10px;
    }
  }

  &-music-control { // btn-music-control
    @include btn-hover;
    @include radius(8px);

    .music-player & {
      @include btn-hover($black-007);
    }
  }

  &-main-link { // btn-main-link
    @include btn-fill($red-017, $white-001);
    @include btn-hover($red-018);
    @include radius(rem(40));

    padding: rem(14) rem(26);
    font-size: 16px;
    font-weight: $font-bold;
    line-height: 1.375;

    &::after {
      @extend .icon-line-arrow-white;

      content: "";
      display: inline-block;
      vertical-align: middle;
      margin: -2px 0 0 8px;
    }

    &.btn-white {
      @include btn-fill($white-001, $red-014);

      &::after {
        @extend .icon-line-arrow-red;
      }
    }

    @include tablet {
      padding: rem(20) rem(36);
      font-size: rem(22.8) !important;
    }
  }


  /* button layout */
  &-group { // btn-group
    @include flex;
    @include flex-align(center);

    .btn:not([class*="col-"]) {
      @include flexitem(1);
    }

    .board-box & {
      margin-top: 48px;
      
      @include tablet {
        margin-top: 24px;
      }
    }
  }

  &-top-group { // btn-top-group
    @extend .btn-group;
    @include margin-bottom(40px, 24px);

    gap: calc(var(--btn-top-side-space) * 1px);
    width: 100%;

    @include tabletMin {
      max-width: 495px;
    }
    
    [class*="col-"] {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  &-col-group { // btn-col-group
    @include flex;
    @include flex-dir(column);

    .btn-form + .btn-form {
      margin-top: 12px;
    }
  }

  &-text-group { // btn-text-group
    text-align: center;
    
    .member-wrap & { // .member-wrap .btn-text-group
      padding: 10px 0;
    }

    .btn-text + .btn-text {
      margin-left: 46px;

      &::before {
        @include size(1px, 10px);

        content: "";
        position: absolute;
        left: -23px;
        top: calc(50% - 5px);
        background-color: $black-006;
      }
    }

  }

  &-paging-group { // btn-paging-group
    margin-top: 48px;
    text-align: center;

    .btn-md {
      min-width: 104px;
      font-size: 16px;
    }
  }
}

button.form-control {
  text-align: left;
}