@charset 'utf-8';

@use './base' as *;
@use './components' as *;
@use './helpers' as *;


/* ----------------------- COMMON */
.btn-top {
  @include bg($filename: 'icon_gotop');
  background-color: $white-main;
}

.btn-redline {
  background-color: $white-main;
  border: 2px solid $red-main;
  font-weight: $font-medium;
  color: $red-main;
}

.btn-black {
  background-color: $black-sub01;
  font-weight: $font-medium;
  color: $white-main;
}

.floating-btns {
  position: fixed;
  right: var(--floating-position-right);

  opacity: 0;
  visibility: hidden;

  button {
    display: block;
    @include size(min(13.889vw, rem(66)));
    @include radius(50%);

    + button {
      margin-top: rem(15);
    }
  }

  &.is-show {
    opacity: 1;
    visibility: visible;

    bottom: calc(var(--floating-position-bottom) * -1);

    transition: opacity .4s linear,bottom .5s cubic-bezier(.545,.045,.355,1);

    &.hide {
      bottom: calc((var(--floating-position-bottom) + rem(122) + rem(15)) * -1);
    }
  }

  &.scr-up {
    bottom: var(--floating-position-bottom);
  }

  &.scr-down {
    bottom: calc((var(--floating-position-bottom) + rem(122) + rem(15)) * -1);
  }
}

/* ----------------------- MAIN */
.main {
  white-space: pre-line;

  > section {
    padding: var(--main-inner-top-padding) 0;

    @include tablet {
      padding: 12vh 0;
    }

    &.works {
      padding: 0;
    }
  }
}

.heading-main {
  @include heading-main;
}


/* visual */
.visual {
  @include fullHeight;
  
  position: relative;
  overflow: hidden;
  pointer-events: none;

  p {
    position: absolute;
    
    font-size: rem(200);
    font-weight: $font-regular;
    color: $black-sub01;
    white-space: nowrap;

    @include laptop {
      font-size: rem(150)
    }
    @include tablet {
      font-size: min(22.222vw, rem(150));
    }
    
    &.text-left {
      left: rem(-44);
      // top: rem(74);
      top: min(13.038vw, rem(60));

      // top: 50%;
      // margin-top: rem(-410);

      @include tablet {
        // margin-top: vh(-35);
      }
    }

    &.text-right {
      right: rem(-55);
      bottom: min(13.038vw, rem(60));
      
      // top: 50%;
      // margin-top: rem(115);

      @include tablet {
        // margin-top: vh(17);
      }
    }
  }


  .circle {
    @include pos-center;
    
    display: block;

    &::before {
      @include size(rem(340));
      @include bg('img_circle_text');

      content: "";
      display: block;
      animation: circle 20s linear infinite;

      @include tablet {
        @include size(min(55.556vw, rem(330)));
      }
    }

    em {
      @include pos-center;
      @include size(rem(240));
      @include radius(50%);
      
      display: block;
      background-color: $black-sub01;

      @include tablet {
        @include size(min(41.667vw, rem(240)));
      }
    }
  }

  @keyframes circle {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
    
  }

  .copyright {
    position: absolute;
    left: 50%;
    bottom: rem(25); 
    transform: translateX(-50%);
    font-size: clamp(11px, 1.695vw, rem(15));
    color: $gray-sub04;
  }
}

/* main skills */
.skill-wrap {
  @include flex;

  // padding: 0 min(55.556vw, rem(200));
  width: min(90vw, 1514px);
  margin: 0 auto;

  @include tablet {
    @include flex-dir(column);
    
    width: 100%;
    padding: 0;
  }

  // skill icon type
  $skillgroup: (uidev, cowork, markup);
  @each $item in $skillgroup {
    .ico-#{$item} {
      @include inline-block;
      @include size(min(11.111vw, rem(54)), min(11.936vw, rem(58)));
      @include bg(icon_#{$item});

      // @include tablet {
      //   @include size(min(11.111vw, rem(54)), min(11.936vw, rem(58)));
      // }
    }
  }

  li {
    @include flexitem;
    @include flex;
    @include flex-dir(column);

    padding: rem(40) rem(30) rem(20) rem(60);

    @include tablet {
      padding: rem(30) rem(25);
    }

    .tit {
      margin: rem(44) 0 rem(38);
      font-size: clamp(23px, 3.911vw, rem(30));
      font-weight: $font-semibold;
      line-height: rem(30);

      @include tablet {
        margin: rem(35) 0 rem(25);
        // font-size: clamp(23px, 6.389vw, var(--font-size-30));
      }
    }

    .para {
      // font-size: var(--font-size-22);
      font-size: clamp(14px, 3.889vw, var(--font-size-22));
      line-height: 2;
      letter-spacing: rem(-0.4);
      color: $gary-sub02;

      @include tablet {
        white-space: wrap;
      }
    }
  }
}

/* works */
.works {
  .box {
    overflow: hidden;
    @include flex-layout;

    @include tabletMin {
      padding: rem(110) 0;
      
      &:nth-of-type(even) {
        .img {
          order: 2;
        }
      }
    }

    @include tablet {
      @include flex-dir(column);
    }
  }
  
  .item {
    @include flexitem; 
    min-width: 50%;
  }
  
  .text {
    padding-left: min(6.667vw, rem(200));

    @include tablet {
      width:100%;
      padding: 12vw var(--inner-padding) 22vw;
    }
    
    h3 {
      @include heading-work;
    }

    .s-tit {
      @include heading-worksub;

      display: block;
      margin-bottom: rem(32);

      @include tablet {
        margin-bottom: 4vw;
      }
    }
    
    .tags {
      margin: rem(44) 0 rem(60);

      @include tablet {
        margin: 3vw 0 10vw;
      }
      
      .tag {
        font-size: clamp(13px, 1.825vw, rem(20));
        color: $gray-sub01;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    .btn-view {
      @include radius(50px);

      padding: rem(17) rem(50);
      font-size: var(--font-size-18);
    }
  }
}


/* ----------------------- SUB */
.sub {
  @include flex;
  
  min-height: vh(100);
  background-color: $black-sub01;
  // transition: 0.15s;

  @include tablet {
    @include flex-dir(column);
  }

  &::selection {
    background-color: transparent;
  }
  
  nav { // sub-nav
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    
    @include tabletMin {
      @include flex;
      @include flex-dir(column);
      @include flex-align(flex-start);
      @include flex-justify(center);
      @include size(min(26.042vw, rem(500)), vh(100));

      padding-left: min(10.417vw, rem(200));
    }

    @include tablet {
      @include scroll-remove;
      @include scroll-x;

      z-index: 99;
      padding: rem(8) var(--inner-padding);
      background-color: $black-sub01;
      transition: .4s #{$transition-setting01};

      header.scr-down + #container & {
        transform: translateY(0);
      }

      header.scr-up + #container & {
        transform: translateY(var(--header-height));
      }
    }
    
    button {
      margin: rem(12) 0;
      font-size: clamp(14px, 2.086vw, rem(20));
      color: $gray-sub04;

      @include tablet {
        + button {
          margin-left: rem(40);
        }
      }

      &.active {
        position: relative;
        font-weight: $font-bold;
        color: $white-main;

        @include pseudo-ele(after) {
          @include size(rem(4));
          position: absolute;
          right: -8px;
          bottom: 6px;
          background-color: $red-main;
        }
      }
    }
  }
}

.list-wrap {
  @include flexitem(1);

  padding: rem(200) rem(100) 0 8.333vw;
  overflow: hidden; // for list items transform animation

  @include tablet {
    padding: 12vw var(--inner-padding);
  }

  .item {
    position: relative;
    margin: rem(40) 0;

    p {
      display: inline;
    }

    .en {
      font-size: rem(104);
      font-size: clamp(32px, 5.997vw, rem(104));
      color: $gray-sub04;
      line-height: 1.1538;
      text-transform: uppercase;
      transition: color 0.3s ease;

      @include tablet {
        font-weight: $font-medium;
      }
    }

    .kr {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      .en {
        color: $black-main;
        text-decoration: line-through;
      }

      .kr {
        opacity: 1;
        left: rem(40);
        font-size: clamp(12px, 2.347vw, rem(40));
        font-weight: $font-semibold;
        color: $white-main;
        letter-spacing: rem(5);

        transition: left 0.3s ease, opacity 0.2s linear;
        transition-delay: 0.2s;
      }
    }
  }
}

.list-motion-wrap {
  .item {
    opacity: 0;
    transform: translateY(40px);
    transition: 0s;
  }

  $_listLength: 20;
  &.is-visible {
    .item {
      opacity: 1;
      transform: translateY(0);
      transition:transform .3s, opacity .3s;

      @for $i from 1 through $_listLength {
        &:nth-child(#{$i+1}) {
          transition-delay: ($i * 0.2s);
        }
      }
    }
  }
}


/* ----------------------- DETAIL */
.detail {
  position: relative;
  overflow-x: hidden;

  .btn-close {
    @include size(rem(46));
    @include bg($filename: function) {
      background-image: icon(close, '000000');
    }

    position: fixed;
    right: rem(50);
    top: rem(40);
    z-index: 10;
    padding: rem(10);
    background-color: rgb($white-main, 0.5);

    @include tablet {
      @include size(rem(35));

      top: var(--inner-padding);
      right: var(--inner-padding);
    }
  }

  // dark type
  &.dark {
    // .btn-close {
    //   background-image: icon(close, 'ffffff');
    // }

    .txt {
      color: $white-main;
    }
  }
}

.detail-intro {
  @include fullHeight;
  position: relative;

  &::before {
    content: "";
    display: block;
    @include fullHeight;

    @include bg-image($img: 'img_detail_sample_intro_w', $format: 'png');
    background-repeat: no-repeat;
    background-size: cover;

    @include mobileMin {
      background-attachment: fixed;
      background-position: center bottom;
    }
    @include mobile {
      @include bg-image($img: 'img_detail_sample_intro_m', $format: 'png');
      // background-size: auto 100%;
      background-position: right bottom;
    }
  }

  $detailgroup: KBdatahub, siwolmusic, payapp; // add works class name = router path
  @each $class in $detailgroup {
    .#{$class} &::before {
      @include bg-image($img: 'img_#{$class}_intro_w', $format: 'png');

      @include mobile {
        @include bg-image($img: 'img_#{$class}_intro_m', $format: 'png');
      }
    }
  }
    
  .txt {
    position: absolute;
    left: min(10vw, var(--detail-inner-padding));
    top: 50%;
    transform: translateY(-58%);
    font-family: $kr-font, sans-serif;
    color: $black-main;

    @include mobile {
      transform: translateY(-100%);
    }
  }

  h1 {
    font-size: clamp(32px, 6.519vw, rem(76));
    font-weight: $font-bold;
    line-height: 1.2;
    white-space: pre-line;
  }

  p {
    margin-top: rem(40);
    font-size: clamp(16px, 2.999vw, rem(34));
    font-weight: $font-bold;
  }
}

.detail-info {
  @include flex;
  @include flex-align(flex-start);

  padding: rem(200) var(--detail-inner-padding);
  background-color: $white-main;
  
  @include tablet {
    @include flex-dir(column);

    padding-top: 13.038vw;
    padding-bottom: 13.038vw;
  }

  .btn-view {
    margin-top: rem(50);
    padding: rem(14) rem(45);
    font-size: var(--font-size-15);
    font-weight: $font-medium;

    @include tablet {
      margin: 13.038vw 0 -13.038vw;
    }

    @include mobile-xs {
      width: 100%;
      margin: 8vw 0;
    }
  }
}

.detail-visual {
  padding-bottom: rem(30);

  > * {
    @include inner;
  }

  > div {
    padding: rem(130) 0;

    @include tablet {
      padding: rem(60) 0;
    }
  }

  .copyright {
    font-size: var(--font-size-12);
    font-weight: $font-light;
  }
}


.info {
  &-tit {
    display: block;
    margin-bottom: rem(40);
    font-size: clamp(20px, 3.39vw, rem(40));
    font-weight: $font-bold;
    line-height: 1.1875;
  }

  &-txt {
    font-size: clamp(12px, 1.695vw, rem(20));
    line-height: 2;
  }

  &-main {
    @include flexitem(1);
  }

  &-skill {
    min-width: 25%;
    // padding-left: rem(120);
    padding-left: 8.3333%;

    @include tablet {
      @include flex;
      @include flex-justify(space-between);

      gap: rem(10);
      width: 100%;
      padding-left: 0;
    }

    @include mobile-xs {
      @include flex-dir(column);
    }

    li {
      @include flex;

      @include tabletMin {
        @include flex-dir(column);
      }

      + li {
        margin-top: rem(50);

        @include tablet {
          margin-top: 0;
        }
      }
    }

    b {
      margin-right: rem(12);
      margin-bottom: rem(12);
      font-size: clamp(11px, 1.565vw, rem(24));
      font-weight: $font-semibold;
      white-space: nowrap;

      @include mobile-xs {
        width: 30%;
      }
    }

    span {
      font-size: 1.434vw;
      font-size: clamp(10px, 1.434vw, rem(15));
      font-weight: $font-medium;
      color: $gray-sub03;
      white-space: pre-line;
    }
  }
}





