@use '../helpers' as *;

header {
  @include inner;
  @include flex-layout($justify: space-between);
  @include size(100%, var(--header-height));

  position: fixed;
  z-index: 10;
  background-color: transparent;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: transform 0.4s #{$transition-setting01};
  will-change: transform;

  // dark type
  &.dark {
    @include tablet { 
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }

    .logo {
      background-image: icon(logo, 'ffffff');
    }

    .btn-menu {
      background-image: icon(menu, 'ffffff');
    }
  }

  // scroll animation
  &.scr-down {
    transform: translateY(calc(var(--header-height) * -1));
  }
  
  &.scr-up {
    transform: translateY(rem(0));

    @include tablet {
      &.dark {
        background-color: $black-sub01;
      }
    }
  }
}

.logo {
  @include size(min(5vw, rem(27)), min(5.926vw, rem(32)));
  @include bg($filename: function) {
    background-image: icon(logo, '000000');
  }
}

.btn-menu {
  @include pseudo-ele(before) {
    @include size(rem(34), rem(32));

    @include tablet {
      @include size(min(5.556vw, rem(34)), min(6.278vw, rem(32)));
    }
  };

  @include bg($filename: function) {
    background-image: icon(menu, '000000');
  }
}