@use 'function' as *;
@use 'breakpoint' as *;

// colors
$white-main: #fff;
$black-main: #363636; // main black
$black-sub01: #000;
$black-sub02: #161616;
$gray-sub01: #888;
$gary-sub02: #8f8f8f;
$gray-sub03: #666;
$gray-sub04: #999;
$light-gray-sub01: #f2f3f5;
$red-main: #f63543; //main red

// font style
$kr-font: "Pretendard Variable", Pretendard;
$en-font: "Poppins";

// font weight
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;

// font size
$font-size-12: rem(12);
$font-size-14: rem(14);
$font-size-15: rem(15);
$font-size-16: rem(16);
$font-size-18: rem(18);
$font-size-20: rem(20);
$font-size-22: rem(22);
$font-size-24: rem(24);
$font-size-30: rem(30);
$font-size-34: rem(34);
$font-size-40: rem(40);
$font-size-48: rem(48);
$font-size-54: rem(54);

// layout


// transform
$transition-setting01: cubic-bezier(.645,.045,.355,1);
// $transition-setting02: cubic-bezier(.545,.045,.355,1);


/* font */
body {
    --font-size-12: #{$font-size-12};
    --font-size-14: #{$font-size-14};
    --font-size-15: #{$font-size-15};
    --font-size-16: #{$font-size-16};
    --font-size-18: #{$font-size-18};
    --font-size-20: #{$font-size-20};
    --font-size-22: #{$font-size-22};
    --font-size-24: #{$font-size-24};
    --font-size-30: #{$font-size-30};
    --font-size-34: #{$font-size-34};
    --font-size-40: #{$font-size-40};
    --font-size-48: #{$font-size-48};
    --font-size-54: #{$font-size-54};

    @include mobile {
        --font-size-18: #{$font-size-16};
        --font-size-15: #{$font-size-14};
    }
}


/* layout */
body {
    --header-height: #{rem(96)};
    --sub-nav-width: #{min(26.042vw, rem(500))};
    --inner-padding: #{rem(100)};
    --detail-inner-padding: 12.5vw;
    --main-inner-top-padding: #{rem(150)};
    --main-inner-bottom-padding: var(--main-inner-top-padding);
    --floating-position-right: #{rem(50)};
    --floating-position-bottom: #{rem(60)};

    --main-circle-size: #{rem(240)};
    --tablet-main-circle-size: 41.667vw;

    @include laptop {
        --inner-padding: #{rem(50)};
        --detail-inner-padding: var(--inner-padding);
        --main-inner-top-padding: #{rem(100)};
        --floating-position-right: #{rem(30)};
        --floating-position-bottom: #{rem(50)};
    }
    @include mobile {
        --header-height: #{rem(60)};
        --inner-padding: #{rem(23)};
        --floating-position-right: var(--inner-padding);
        --floating-position-bottom: #{rem(30)};
    }
}
