// colors
$black-900: #161616;
$black-800: #363636; // main black
$black-500: #8f8f8f;

$red-400: #f63543; //main red

// font weight
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;